
PROJECT_NAME=govsoft
SECRET_KEY=django_secret_key
PROJECT_PORT=8080

# Postgres
POSTGRES_NAME=govsoft_db
POSTGRES_USER=govsoft_user
POSTGRES_PASSWORD=govsoft_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432

POSTGRES_DATA='./../pgdata'
STATIC_DATA='./../static'
MEDIA_DATA='./../media'